@import "./reset.css";
@import "./common.css";

/* 인사말 
-------------------------------------------------------------------------------------------------------------------------*/
.greetingContainer {width:100vw; display:grid; grid-template-columns: 1fr 300px 900px 1fr; align-items: center;}
.greetingContainer > h2 {position:relative; grid-column: 2/span 2; padding-left:30px; margin:2rem 0; font-size: 1.875rem; font-weight: bold; color:darkgray;}
.greetingContainer > h2::before {position:absolute; content: ""; width:10px; height: 10px; left:0; background-color: red;}
.greetingContainer > h2::after {position:absolute; content: ""; width:100%; height: 2px; left:0; top:4rem; background-color:lightgray;}

.greetingContainer .chairman {grid-column: 2/span 1;}

.greetingContainer .greetingTitle{grid-column: 3/span 1; padding-left:2rem; font-family: 'Nanum Brush Script', cursive;}
.greetingContainer .greetingTitle h2 {font-size: 3rem; line-height: 2rem; font-weight: bold;}
.greetingContainer .greetingTitle h1 {font-size: 4rem; font-weight: bold; color:darkblue; margin-bottom: 2rem;}
.greetingContainer .greetingTitle p {font-size: 2rem; font-weight: bold; color:darkgray;}

.greetingContainer .greetingContents{grid-column: 2/span 2; padding:2rem; line-height: 1.8rem;}
.greetingContainer .greetingContents span:not(:last-child) {color: red;}
.greetingContainer .greetingContents span:last-child {font-size: 3rem; font-weight: bold; font-family: 'Nanum Brush Script', cursive;}

/* MQ 
------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:1200px){
    .breadcrumb {padding:1rem 2rem;}

    .greetingContainer {grid-template-columns: 30vw 1fr;}
    .greetingContainer h2 {grid-column: 1/-1;}
    .greetingContainer .chairman {grid-column: 1/2;}
    .greetingContainer .greetingTitle {grid-column: 2/span 1;}
    .greetingContainer .greetingContents {grid-column: 1/-1;}
}

@media screen and (max-width:768px){
    .greetingContainer .chairman {grid-column: 1/-1; display:flex; justify-content: center; align-items: center;}
    .greetingContainer .greetingTitle {grid-column: 1/-1; display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 2rem;}
    iframe {height:800px;}
}
