@import "./reset.css";
@import "./common.css";


/* 지도
-------------------------------------------------------------------------------*/
.kakaoMap{width:1200px; height:675px; margin:0 auto;}
.kakaoMap .container {width:100%; margin-bottom:56.25%;}
.kakaoMap .container #map {width:1200px; height:675px;}

/* 교통편 
-------------------------------------------------------------------------------*/
.transportation {display: grid; grid-template-columns: 1fr 1200px 1fr; margin:2rem 0 600px;}
.transportation h1{grid-column: 2/span 1; font-size: 2rem; text-align: center; margin-bottom: 2rem;}
.transportation h1 span{color:red;}

    .tapContainer {grid-column: 2/span 1; width:100%; position:relative; display: grid; grid-template-columns: 1fr 1fr 1fr;}
    .tapContainer li:first-child {grid-column: 1/span 1;}
    .tapContainer li:nth-child(2) {grid-column: 2/span 1;}
    .tapContainer li:last-child {grid-column: 3/span 1;}
    .tapContainer li label {display:block; width: 100%; line-height:5rem; border:1px solid lightgray; text-align: center;}
    .tapContainer li input {display: none;}

    .tapContainer li .contents {position:absolute; left:0; top:100%; width:1200px; height: 600px; display: flex; flex-direction: column; justify-content: space-evenly; align-items: center; opacity: 0;}
    .tapContainer li .contents h3 {position:relative; font-size: 1.5rem; font-weight: bold;}
    .tapContainer li .contents h3::before {position: absolute; content: ""; width: 8px; height: 100%; left:-15px; top:0; background-color: red;}

    .tapContainer li .contents > ul {width:100%; height:80%; display: flex; flex-direction: column; justify-content: space-evenly;}
    .tapContainer li .contents > ul > li { width:100%; height:30%; display: flex; justify-content: space-evenly; align-items: center; border-bottom: 1px solid lightgray;}
    .tapContainer li .contents > ul > li:first-child {border-top: 1px solid lightgray;}
    .tapContainer li .contents > ul > li:first-child > span {color:green; font-weight: bolder;}
    .tapContainer li .contents > ul > li:nth-child(2) > span {color:blue; font-weight: bolder;}
    .tapContainer li .contents > ul > li:nth-child(3) > span {color:#c4a41b; font-weight: bolder;}
    .tapContainer li .contents > ul > li:nth-child(4) > span {color:darkred; font-weight: bolder;}
    .tapContainer li .contents > ul > li > ul { width:50%; height:100%; display: flex; flex-direction: column; justify-content: space-evenly; align-items: center;}

    .tapContainer input[type='radio']:checked + label {font-weight: bolder; border-color: black;}
    .tapContainer input[type='radio']:checked ~ .contents {opacity:1;}

    /* MQ 
    ------------------------------------------------------------------------------------*/
    @media screen and (max-width:1200px) {
        /* 오시는 길 */
        .wayToCome h1 {grid-column: 1/-1;}
            .companyAddress {grid-column: 1/-1;}

        /* 지도 */
        .kakaoMap{width:100vw; height: 56.25vh;}
        .kakaoMap .container {width:100%; margin-bottom:56.25%;}
        .kakaoMap .container #map {width:100vw; height:56.25vh;}

        /* 교통편 */
        .transportation h1{width:100vw;}
            .tapContainer {width:100vw;}
            .tapContainer li .contents {width:100vw;}
}