.black {color:#000;}
.white {color:#fff;}

body{overflow-y: hidden; overflow-x: hidden;}

.bg { width: 100vw; height: 100vh;}
/* .bg img { width: 100%; height: 100%; object-fit: cover;} */

.eltax .swiper-slide .text_link {position:absolute; left:50%; top:30%; width: 800px; height:250px; display: flex; flex-direction: column; justify-content: center; align-items: start; background-color: rgba(0,0,0,.2); padding-left:30px; border-radius: 50px 0;}
.eltax .swiper-slide p {font-size: 1.4rem; font-weight: bolder; margin-bottom: 30px; color:#fff;}
.eltax .swiper-slide h1 {font-size: 3rem; margin-bottom: 50px; font-weight: bolder; color:#fff;}
.eltax .swiper-slide .link {border:1px solid #fff; border-radius: 20px 0;}
.eltax .swiper-slide .link a {display: block; padding: 15px 60px; color:#fff;}
.eltax .swiper-slide a:hover {background: #ff9c00; color: #000; border-radius: 20px 0;}
.eltax .swiper-slide img {object-fit: cover; width: 100vw; height: 100vh;}

/* -------------------------------------------------------------------------------------------------------------------------------------- */

.bottom_menu {position:absolute; left:0px; bottom:0px; width: 100vw; height: 80px; z-index: 1;}
.bottom_menu > ul {width:1200px; height: 80px; margin:0 auto; display: flex; justify-content: space-evenly;}
.bottom_menu li {width: 230px; height: 80px; background-color: rgba(0,0,0,.5); border: 1px solid #fff; border-top-left-radius: 30px; border-top-right-radius: 30px;}
.bottom_menu li a {position:relative; display:block; width: 100%; line-height: 80px; color:#fff; font-size: 1.2rem; text-align: center; transition:all .4s}
.bottom_menu li a:hover {background-color: #ff9c00; color: #000; font-size: 1.5rem; height: 100px; transform: translateY(-20px) scale(1.1); border: 0px solid #fff; border-top-left-radius: 30px; border-top-right-radius: 30px;}
.bottom_menu li a:hover:before {position:absolute; top:40px; content: attr(data-cont); font-size: 10px; color:#fff;}
.bottom_menu li a:hover:after {position:absolute; content:""; width: 200px; height: 1px; background: #fff; left:10%; bottom:35px;}

.bottom_menu li:nth-child(1) a:hover:before {left:20%;}
.bottom_menu li:nth-child(2) a:hover:before {left:20%;}
.bottom_menu li:nth-child(3) a:hover:before {left:20%;}
.bottom_menu li:nth-child(4) a:hover:before {left:20%;}