footer {width:100%; background-color: #000000; display: grid; grid-template-columns: 1fr 1200px 1fr; justify-content: center; align-items: center;}
footer .container {grid-column: 2/span 1; display:grid; grid-gap:1rem; grid-template-columns: 1fr 1fr 400px; justify-content: center; align-items: center; padding:2rem 0; color:white;}
footer .container > a {max-width:100%; padding:2rem;}
footer .container ul {max-width:100%; display: flex; flex-direction: column; justify-content: space-evenly; padding:2rem;}
footer .container ul li {line-height: 2rem;}
footer .container ul li a{color:white;}

@media screen and (max-width:1300px){
    footer {grid-template-columns: 1fr 1fr;}
    footer .container {grid-column: 1/-1; grid-template-columns: 1fr 1fr;}
    footer .container ul:last-child {grid-column: 1/-1; border-top: 1px solid white;}
}

@media screen and (max-width:768px){
    footer .container a {grid-column: 1/-1;}
    footer .container ul {grid-column: 1/-1; border-top: 1px solid white;}
}
