:root {
    --black : #000;
    --gray : #dfdbd8;
    --white : #fff;
    --orange : #fe9f29;
    --blue : #192a3c;
    --green_opacity : rgba(120, 238, 46, .1);
    --yellow_opacity :rgba(255,205,74,.1);
    --blue_opacity :  rgba(59,76,168,.1);
}

.bg_green {background-color: var(--green_opacity);}
.bg_yellow {background-color: var(--yellow_opacity);}
.bg_blue {background-color:var(--blue_opacity);}

body {width:100vw;

/* font-family: 'Black Han Sans', sans-serif; */
/* font-family: 'Cute Font', cursive; */
/* font-family: 'Do Hyeon', sans-serif; */
/* font-family: 'Gaegu', cursive; */
/* font-family: 'Gothic A1', sans-serif; */
/* font-family: 'Gugi', cursive; */
/* font-family: 'Jua', sans-serif; */
/* font-family: 'Nanum Brush Script', cursive; */
/* font-family: 'Nanum Gothic', sans-serif; */
font-family: 'Nanum Gothic Coding', monospace;
/* font-family: 'Nanum Myeongjo', serif; */
/* font-family: 'Nanum Pen Script', cursive; */
/* font-family: 'Noto Sans KR', sans-serif; */
/* font-family: 'Noto Serif KR', serif; */
/* font-family: 'Sunflower', sans-serif; */

}

/* -------------------------------------------------------------------------------------------------------------------------*/
.top_bg {width:100vw; height:50vh;}
.top_bg .img_container {position:relative; width:100%; height: 100%; background: var(--blue); overflow: hidden;}
.top_bg .img_container .left_container {position:absolute; left: 250px; top:180px; width:500px; height: 100px; padding:10px; border-radius: 30px 0; /*background-color: var(--white);*/ z-index: 1;}
.top_bg .img_container .right_container {position:absolute; left:700px; top:-120px; width: 1000px; height: 700px;}
.top_bg .img_container .right_container img {width: 100%; height: 100%; object-fit: contain;}
/* -------------------------------------------------------------------------------------------------------------------------*/
.breadcrumb {padding:20px 0 20px 20%; font-size: 1.2rem; color:var(--white); background-color: var(--blue);}

/* -------------------------------------------------------------------------------------------------------------------------*/
.info_cont {width:100vw; height:auto; display:grid; grid-template-columns: 1fr 600px 600px 1fr;}
.info_cont h2 {grid-column: 2/span 2;}
.info_cont p {grid-column: 2/span 2;}
.info_cont p.halfsize {grid-column: 2/3;}
.info_cont img {grid-column: 3/4; width:100%; height: auto; object-fit: cover;}

