@import "../../css/reset.css";
@import "../../css/common.css";

body {width:100vw;}

.title {width:100%; height:100%; display:flex; flex-direction: column; justify-content: space-evenly; align-items: center; font-size: 2rem; line-height: 4rem;}
.title li {width: 100%; text-align: center;}
.title li:first-child {background-color:var(--black); color: var(--white);}
.title li:not(:first-child) {color: var(--orange);}
.title li:last-child {font-weight: bolder;}

.center {width:100%; display: flex; justify-content: center; align-items: center;}

.sub_title {font-size:1.5rem; line-height: 3rem;}

.padding-top-3rem {padding-top: 3rem;}
.padding-bottom-3rem {padding-bottom: 3rem;}

.left {width:45%; display:flex; justify-content: flex-end; align-items: center;}
.right {position:relative; width:55%; display:flex; flex-direction: column; justify-content: space-between; align-items: flex-start; padding:10px 0 10px 80px;}
.right:before {content:""; position:absolute; left:10px; top:-30px; width: 150px; height:150px; background-color: rgba(0,0,0,.1); border-radius: 50%; z-index:-1;}

.right ol {padding-left: 40px;}
.right li {position: relative; font-size: 1rem; line-height: 1.5rem;} 
.right li:before { content: ""; position:absolute; width: 10px; height: 5px; left:-20px; top:10px; background-color: #000;} 