@import "../../css/reset.css";
@import "../../css/common.css";

body {width:100vw;}

.title {width:100%; height:100%; display:flex; flex-direction: column; justify-content: space-evenly; align-items: center; font-size: 2rem; line-height: 4rem;}
.title li {width: 100%; text-align: center;}
.title li:first-child {background-color:var(--black); color: var(--white);}
.title li:not(:first-child) {color: var(--orange);}
.title li:last-child {font-weight: bolder;}

/* 그래프 
-----------------------------------------------------------------------------------------------*/
.graph {width:100%; display: flex; justify-content: center; align-items: center;}


