@import "../../css/reset.css";
@import "../../css/common.css";

.accodion {grid-column: 2/span 1;}
.accodion > li {display: flex; flex-direction: column; justify-content: center; align-items: center; background: #f9fafb; border-bottom: 1px solid gray;}
.accodion > li > h3 {width:100%; height:100%; font-size: 1.5rem; line-height: 3rem; text-align: center;}
.accodion > li > h3 > a {display:block; width: 100%; height:100%;}
.accodion > li > h3 > a:hover {background-color: var(--blue); color:var(--white);}
.accodion > li > h3 i {font-size: .7rem; margin-left:2rem;}
.accodion > li > p {font-size: 1.1rem; line-height: 2rem; padding:2rem;}

.accodion .accordianText {display:none;}
.accodion .accordianText.show {display:block;}