@import "./css/reset.css";
@import "./css/common.css";

.top_menu {position:absolute; z-index: 10; left:0; top:0; width: 100vw; height: 100px; background-color: rgba(0,0,0,.4); color:#fff;}
.top_menu a {padding: 5px 5px; color: #fff;}

.top_menu > ul {width:1200px; height: 100px; margin:0 auto; display:flex; justify-content: space-between;}

.top_menu #logo {display:flex; justify-content: center; align-items: center;}
.top_menu #logo a {display:block; display: flex; justify-content: center; align-items: center;}
.top_menu #logo img {width:80%;}

.top_menu > ul > li {line-height: 100px;}
.top_menu > ul > li:nth-child(1){width: 30%;}
.top_menu > ul > li:nth-child(2){width: 70%;}
.top_menu > ul > li:nth-child(2) > ul {display:flex; justify-content: space-between; align-items: center; }

.top_menu > ul > li:nth-child(2) > ul > li:nth-child(6) i {border-radius: 50%; padding: 20px; background-color: #047fad;} 
.top_menu > ul > li:nth-child(2) > ul > li:nth-child(7) i {border-radius: 50%; padding: 20px; background-color: #8fad04;}

.top_menu ul ul > li {position:relative;}
.top_menu ul ul ul {position: absolute; left:-50%; top:100px; display:none; flex-direction: column; justify-content: space-evenly; align-items: center; background: rgba(0,0,0,.7); border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;}
.top_menu ul ul > li:hover ul {display:block;}

.top_menu ul ul ul li:last-child {border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;}
.top_menu ul ul ul li a {display:block; width:150px; line-height:50px; text-align: center;}
.top_menu ul ul ul li a:hover {background-color: var(--orange);}
.top_menu ul ul ul li:last-child a:hover {border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;}
