/* 공통사항 */
.hide {display:none;}

.bg_gray {background-color: #f3f3f3;}
.bg_blue {background-color: rgb(13,38,76);}
.bg_skyblue {background-color: #ebf4f3;}

    /* img filter */
.blur {filter: blur(4px);}
.brightness {filter: brightness(250%);}
.contrast {filter: contrast(180%);}
.grayscale {filter: grayscale(100%);}
.huerotate {filter: hue-rotate(180deg);}
.invert {filter: invert(100%);}
.opacity {filter: opacity(50%);}
.saturate {filter: saturate(7);}
.sepia {filter: sepia(100%);}
.shadow {filter: drop-shadow(8px 8px 10px green);}

.flex-r {display:flex; justify-content:space-between; align-items: center;}
.flex-c {display:flex; flex-direction: column; justify-content: space-evenly; align-items: center;}

.padding-top-2rem {padding-top:2rem;}
.padding-bottom-2rem {padding-bottom: 2rem;}
.padding-bottom-1rem {padding-bottom: 1rem;}

.opacity0 {opacity:0;}
.opacity1 {opacity:1;}
.translate-X {transform: translateX(-5vw);}
.translateX {transform: translateX(5vw);}

.wide_container{width: 100vw;}
.container {margin:0 auto; width:1200px;}

body {font-size: 18px; font-family: 'Nanum Gothic', sans-serif;}
section {width:100vw;}


/* 
font-family: 'Black Han Sans', sans-serif;
font-family: 'Do Hyeon', sans-serif;
font-family: 'Jua', sans-serif;
font-family: 'Nanum Pen Script', cursive;
font-family: 'Noto Serif KR', serif;
font-family: 'Nanum Gothic', sans-serif;
 */


 /* input submit */
.btn {
    /* 필수적으로 입력해 주어야 하는 속성 */
    vertical-align: middle; /* Input 과 타 요소들의 텍스트 높이를 동일하게 세로 정렬한다 */
    display: inline-block; /* a나 span 태그의 경우 inline-block 요소처리 */
    line-height: 1;
    cursor: pointer; /* input type에 따라 커서의 모양이 다르다. */
    
    /* 패딩은 Input과 다른 태그들이 달라야 한다 */
    padding: 8px 12px;
    /* 디자인 요소들 */
    transition: all 0.3s;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2);
    text-shadow: 0 -1px 0 rgba(0,0,0,.4);
    border-radius: 6px;
    font-size: 10px;
    text-transform: uppercase;
    /* 요소마다 border 의 색상을 다르게 주기 위해서 속성들을 따로 기입한다 */
    border-style: solid;
    border-width: 1px;
}
input.btn {
    /* Input은 다른 태그들과 패딩값이 다르게 입력된다. top + 1, bottom -1 을 해준다. */
    padding: 9px 12px 7px;
}

