@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gothic+A1:wght@400;700;900&family=Nanum+Gothic+Coding:wght@400;700&family=Nanum+Gothic:wght@400;700&family=Noto+Sans+KR:wght@400;700;900&display=swap');


/* 공통사항 */
.hide {display:none;}

/* 색상 */
.bg_gray {background-color: rgba(0,0,0,.1);}
.bg_lightblue {background-color: rgba(1, 38, 247, 0.1);}
.bg_blue {background-color: rgb(13,38,76);}
.bg_skyblue {background-color: #ebf4f3;}

/* img filter */
.blur {filter: blur(4px);}
.brightness {filter: brightness(250%);}
.contrast {filter: contrast(180%);}
.grayscale {filter: grayscale(100%);}
.huerotate {filter: hue-rotate(180deg);}
.invert {filter: invert(100%);}
.opacity {filter: opacity(50%);}
.saturate {filter: saturate(7);}
.sepia {filter: sepia(100%);}
.shadow {filter: drop-shadow(8px 8px 10px green);}

/* 정렬 */
.flex-r {display:flex; justify-content:space-between; align-items: center;}
.flex-c {display:flex; flex-direction: column; justify-content: space-evenly; align-items: center;}

/* 여백 */
.padding-top-2rem {padding-top:2rem;}
.padding-bottom-2rem {padding-bottom: 2rem;}
.padding-bottom-1rem {padding-bottom: 1rem;}

.margin-bottom-2rem {margin-bottom: 2rem;}

/* 투명도 */
.opacity0 {opacity:0;}
.opacity1 {opacity:1;}

/* 테두리 */
.border-top{border-top: 1px solid gray;}
.border-bottom{border-bottom: 1px solid lightgray;}

/* 위치 */
.translate-X {transform: translateX(-5vw);}
.translateX {transform: translateX(5vw);}

/* 사용자 지정  */
.wide_container{width: 100vw;}
.container {margin:0 auto; width:1200px;}

body {width:100%;font-size: 18px; font-family: 'Nanum Gothic', sans-serif;}
section {width:100%;}

/* 
font-family: 'Black Han Sans', sans-serif;
font-family: 'Do Hyeon', sans-serif;
font-family: 'Jua', sans-serif;
font-family: 'Nanum Pen Script', cursive;
font-family: 'Noto Serif KR', serif;
font-family: 'Nanum Gothic', sans-serif;
 */
