
/* --------------------------------------------------------------------------------------------------------------------------------------------*/
/* header start */
    /* 레이어팝업 */
header {width:100vw;}

/* --------------------------------------------------------------------------------------------------------------------------------------------*/

/* swiper 공통사항 */
.swiper_title {width: 280px; height: 400px;}

.swiper-slide {text-align: center; font-size: 18px;  /* Center slide text vertically */ display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center;}
.swiper-container-horizontal>.swiper-pagination-bullets {bottom: 0px;}
.swiper-pagination-bullet {width: 15px; height: 15px;}
.swiper-button-prev:after {background-color: rgba(0,0,0,.3); padding:1rem; color:#fff;}
.swiper-button-next:after {background-color: rgba(0,0,0,.3); padding:1rem; color:#fff;}

.swiper-slide a {position:relative;}
.cover .swiper-slide a:hover::before {position:absolute; z-index: 999; content: attr(data-conts); display: block; width: 100%; height: 100%; left:0; top:0; font-weight: bold; font-size: 1.5rem; text-align: center; line-height: 200px; color:white; background-color: orange;}

/* 직무교육 swiper */
    .second {width: 900px; height: 400px; }
    .second .swiper-slide img {width:100%;}

/* 법정의무교육 swiper */
    .third{width: 900px; height: 300px;}
    .third .swiper-slide img {width:100%;}

/* K비대면 바우처 플랫폼  */
    .fourth{width: 900px; height: 400px;}
    .fourth .swiper-slide img {width:100%;}
    
    iframe {width:100%;}

/* MQ ----------------------------------------------------------------- */
    @media screen and (max-width:1200px){
        section { width:1200px;}
        iframe {width:1200px;}
    }
    

