
/* --------------------------------------------------------------------------------------------------------------------------------------------*/
/* 정부기관로고 */
header .top {width: 100%; height: 80px; display: flex; justify-content: space-between; align-items: center; background-color: white;}
header .top a img{width: 60%;}

header .top ul {width:60%; height: 100%; display: flex; justify-content: space-evenly; align-items: center;}
header .top ul img {width:100%;}

/* --------------------------------------------------------------------------------------------------------------------------------------------*/
/* 왼쪽 메뉴 */
.fixed_menu_icon {position:fixed; left:0px; top: 40vh; width:80px; height:80px; display:flex; justify-content: center; align-items: center; z-index: 2; transition: all .5s;}
.fixed_menu_icon i {padding:30px; font-size: 30px; color:white; background-color:#009fe8; border-radius: 0 20px 20px 0;}

.fixed_menu {position: fixed; left:-5vw; top:20vh; width:100px; height: 500px; z-index: 2; transition: all .5s; border-radius: 0 20px 20px 0; background-color: rgba(0,0,0,.4);}
.fixed_menu ul {width:100%; height:100%; display:flex; flex-direction: column; justify-content: space-evenly; align-items: center;}
.fixed_menu ul li a {color:white; display: flex; flex-direction: column; justify-content: space-evenly;}
.fixed_menu ul li a:hover {color: #ff9c00;}
.fixed_menu ul li a i {font-size: 2rem; border:2px solid white; border-radius: 50%; padding:1rem; margin-bottom: 5px;}
.fixed_menu ul li a:hover i {border:2px solid  #ff9c00;}

/* --------------------------------------------------------------------------------------------------------------------------------------------*/
/* 상단메뉴 */
header .container .menu {position:relative; width: 100%; height: 80px; background-color: rgb(13,38,76);}
header .container .menu ul {z-index: 9999; display:flex; justify-content: space-evenly; line-height: 80px;}
header .container .menu ul li {position:relative; text-align: center;}
header .container .menu ul li a {padding: 5px 20px; color:white;}

header .container .menu ul ul {position:absolute; left: -40%; top: 80px; display:none; flex-direction: column; justify-content: space-evenly; line-height: 40px;}
header .container .menu ul ul li {font-size: 16px;}
header .container .menu > ul > li:hover > ul {display: flex; width:170%;}

header .container .menu ul ul ul {position: absolute; left: 80%; top:-3px; display:none; flex-direction: column; justify-content: space-evenly; background-color: rgb(13,38,76);;}
header .container .menu ul ul > li:hover > ul {display: flex; width:100%;}

header .container .menu ul ul li:hover {border:1px solid white;}
header .container .menu ul ul li:hover a {color: yellow;}

/* 메뉴 검은 배경 */
header .container .menu .bg {z-index:2; position:absolute; left:0; top:80px; width:100%; height: 420px; background-color:rgba(0,0,0,.9);}
/* header end*/