a {text-decoration: none;}

img{width: 100%;}

#modal_button {
    all: unset;
    background-color: steelblue;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_overlay {
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    position: absolute;
}

.modal_content {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
    background-color: #fff;
    padding: 20px 30px;
    text-align: center;
    border-radius: 10px;

    position: relative;

    width:800px;
    height:600px;
}

.modal_content button {position:absolute; right:20px; top:30px; width:20px; height: 20px;}

.hidden {
    display: none;
}